.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .content {
        font-family: "Cormorant Garamond", serif;
        font-weight: 400;
        font-size: clamp(10rem, 12vw, 40rem); 
        text-transform: uppercase;
        font-style: normal;
        color: #FF4D00;
        line-height: clamp(1rem, 5vw, 20rem);
        
        .text1 {
            position: absolute;
            top: 8vh;
            left: 16vw;
        }
        
        .text2 {
            position: absolute;
            top: 30vh;
            left: clamp(30rem, 42.5vw, 100rem);
        }
        
        .text3 {
            position: absolute;
            top: 52vh;
            left: 16vw;
        }
        
        .text4 {
            position: absolute;
            top: 74vh;
            left: clamp(30rem, 42.5vw, 100rem);
        }
    }

    .img1 {
        position: absolute;
        top: 27.5vh;
        left: clamp(15rem, 21vw, 100rem);
        height: clamp(7rem, 7.7vw, 40rem);
        width: clamp(13rem, 16vw, 40rem);
        object-fit: cover;
        filter: brightness(80%);
    }

    .img2 {
        position: absolute;
        top: 49.8vh;
        left: clamp(30rem, 72vw, 113.5rem);
        height: clamp(7rem, 7.7vw, 40rem);
        width: clamp(13rem, 16vw, 40rem);
        object-fit: cover;
        filter: brightness(70%);
    }

    .explore {
        text-transform: uppercase;
        text-decoration: underline;
        position: absolute;
        bottom: 6vh;
    }
}