.container {
    height: 10rem;
    background-color: #1e1e1e;
    width: 100vw;
    position: absolute;
    left: 0px;
    margin-top: 3rem;

    .navContent {
        text-align: center;
        color: red;
    }
}